/* General States */
/****************************************************/

.root{
	-fx-background-color: #383838;
}

.scroll-bar{
	-fx-background-color: #383838;
}

.scroll-pane .corner{
	-fx-background-color: #383838;
}



.label{ 
	
	-fx-alignment: center-left;
}

.btnSubmit{
	-fx-font-size: 8.0pt; 
	-fx-alignment: center;
	-fx-border-color: #383838;
}





/* Team One and Two*/
/****************************************************/
.teamLabel{
	-fx-font-size: 14.0pt;
	-fx-text-fill: #383838;
	
	/*From noTeamFill */
	-fx-background-color: #ccccccff;
}



.teamLabelMirrored{
	-fx-font-size: 14.0pt;
	-fx-alignment: center-right; 
	
	/*From noTeamFill */
	-fx-background-color: #ccccccff;
}

/*
#noTeamFill{
	-fx-background-color: #ccccccff;
} */

#teamWonFill{
	-fx-background-color: #ffe599ff;
	-fx-font-weight: bold;
	-fx-font-size: 14.0pt;
}


#teamLostFill{
	-fx-background-color: #666666ff;
}

#pendingFill{
	-fx-background-color: #9fc5e8ff;
}

#ChampionFill{
	-fx-background-color: #ea9999ff;
	-fx-font-weight: bold;
	-fx-font-size: 14.0pt;
}

/*Team Scores*/
/****************************************************/
.scoreLabel{
	-fx-font-size: 08.0pt;
	-fx-prompt-text-fill: rgb(153,153,153);
	
	/*From noTeamFill */
	-fx-background-color: #ccccccff;
}

#scoreTeamWonFill{
	-fx-background-color: #ffe599ff;
	-fx-font-weight: bold;
	-fx-font-size: 12.0pt;
}

#scoreTeamLostFill{
	-fx-background-color: #666666ff;
}

#scorePendingFill{
	-fx-background-color: #9fc5e8ff;
}

#scoreChampionFill{
	-fx-background-color: #ea9999ff;
	-fx-font-weight: bold;
	-fx-font-size: 12.0pt;
}

/* Submit Button */
/****************************************************/
.submitButton{
	-fx-font-size: 08.0pt;
	-fx-text-fill:grey;
	/*/-fx-text-fill: black; 
	
	/*From noTeamFill */
	-fx-background-color: #ccccccff;
}

#submitTeamWonFill{
	-fx-background-color: #ffe599ff;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 10.0pt;
}




#submitPendingFill{
	-fx-background-color: #9fc5e8ff;
	-fx-text-fill: black;
}

#submitChampionFill{
	-fx-background-color: #ea9999ff;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 10.0pt;
}

/* Match Header States */
/****************************************************/
.matchHeader{
	-fx-font-size: 8.0pt;
	-fx-alignment: bottom-center;
	
	/*Added from noTeam*/
	-fx-text-fill: rgb(216,216,216);
}


#matchHeader_General{
	-fx-text-fill: #c9daf8;	
}


/*
#MatchHeader_NoTeam{
	
}
 */


/* Match Number */
/****************************************************/
.matchNumber{
	-fx-alignment: top-center ;
	-fx-font-size: 16.0pt;
	
	/*Added from noTeam*/
	-fx-text-fill: rgb(216,216,216);
}

#matchNumber_General{
	-fx-text-fill: #c9daf8;	
}

#matchNumber_Champ{
	-fx-text-fill:  #ea9999ff;
	-fx-alignment: top-center;
	-fx-font-size: 10.0pt;
}

/*
#matchNumber_NoTeam{
	
	
} */


/* Match border */
/****************************************************/
.matchBorder{
	-fx-border-style: dashed;
	-fx-border-width: 2.0pt;
	-fx-border-radius: 10.0pt;
	
	/*Added from noTeam*/
	-fx-border-color: #666666;
}

#matchBorder_General{
	-fx-border-color: #c9daf8;
}

#matchBorder_Champ{
	-fx-border-color: #ea9999ff;
	  
}

/*
#matchBorder_NoTeam{
		
} */

/* Status Header States */
/****************************************************/
.statusHeader{
	-fx-font-size: 8.0pt;
	
	/*Added from noTeam*/
	-fx-text-fill: #666666; 
}

#statusHeader_General{
	-fx-text-fill: #c9daf8;
}

#statusHeader_Champ{
	-fx-text-fill: #666666;
}


/*#StatusHeader_NoTeam{
	
}*/


/* Status Box States */
/****************************************************/
.matchStatus{
	-fx-font-size: 10.0pt;
	-fx-border-radius: 1.0pt;
	
	/*Added from noTeam*/
	-fx-background-color: #666666;
	-fx-border-color: #666666; 
}

#matchStatus_General{
	-fx-text-fill: #c9daf8;
	-fx-border-color: #c9daf8;
	-fx-background-color: #383838;
}

#matchStatus_Champ{
	-fx-text-fill: black;
	-fx-border-color: #ea9999ff;
	-fx-background-color: #ea9999ff;
	-fx-font-size: 12.0pt;
	-fx-font-weight: bold;
}

/*
#matchStatus_noTeam{
	
} */