.root{
	-fx-background-color: #383838;
}

.scroll-bar{
	-fx-background-color: #383838;
}

.scroll-pane .corner{
	-fx-background-color: #383838;
}

.label{
	-fx-text-fill: #e8e8e8;
	-fx-font-size: 10.0pt;
	-fx-border-color: #000000;
}

.label-no-border{
	-fx-text-fill: #e8e8e8;
	-fx-font-size: 10.0pt;
	-fx-border-color: none;
}

.text-field{
	-fx-font-size: 9.0pt;
	-fx-font-weight: bold;
	-fx-alignment: center; 
	-fx-text-fill: black;
	-fx-prompt-text-fill: ghostwhite ;
	-fx-border-color: #000000;
	-fx-background-color: rgb(128,128,128);
	-fx-focus-traversable: true;
}

.button{
	-fx-background-color: rgb(128,128,128); 
	-fx-background-insets: 1px;
	-fx-font-size: 10.0pt;
	-fx-text-alignment: center;
	-fx-focus-traversable: true;
	-fx-border-color: #000000;
}

.label-team{
	-fx-text-fill: #000000;
	-fx-background-color: rgb(128,128,128);
	-fx-font-size: 12.0pt;
}

#teamWon{
	-fx-background-color: green;
	-fx-border-color: green;
	-fx-text-fill: #e8e8e8;
}

#teamLost{
	-fx-background-color: #AB4642; 
	-fx-border-color: #AB4642;
	-fx-text-fill: rgb(128,0,0);
}