/* General States */
/****************************************************/

.root{
	-fx-background-color: #383838;
}

.scroll-bar{
	-fx-background-color: #383838;
}

.scroll-pane .corner{
	-fx-background-color: #383838;
}



.label{ 
	
	-fx-alignment: center-left;
}

.btnSubmit{
	-fx-font-size: 8.0pt; 
	-fx-alignment: center;
	-fx-border-color: #383838;
}





/* Team, score and button fill colors based on state*/
/****************************************************/
.teamLabel{
	-fx-font-size: 14.0pt;
	-fx-text-fill: #383838;
}

.teamScore{
	-fx-font-size: 08.0pt;
	-fx-prompt-text-fill: rgb(153,153,153)
}

.teamLabelMirrored{
	-fx-font-size: 14.0pt;
	-fx-alignment: center-right 
}

#noTeamFill{
	-fx-background-color: #ccccccff;
}

#teamWonFill{
	-fx-background-color: #ffe599ff;
	-fx-font-weight: bold;
	-fx-font-size: 14.0pt;
}


#teamLostFill{
	-fx-background-color: #666666ff;
}

#pendingFill{
	-fx-background-color: #9fc5e8ff;
}

#ChampionFill{
	-fx-background-color: #ea9999ff;
}



/* Match Header States */
/****************************************************/
.matchHeader{
	-fx-font-size: 8.0pt;
	-fx-alignment: bottom-center;
}


#matchHeader_General{
	-fx-text-fill: #c9daf8;	
}



#MatchHeader_NoTeam{
	-fx-text-fill: rgb(216,216,216);
}



/* Match Number */
/****************************************************/
.matchNumber{
	-fx-alignment: top-center ;
	-fx-font-size: 16.0pt;
}

#matchNumber_General{
	-fx-text-fill: #c9daf8;
	
}

#matchNumber_NoTeam{
	-fx-text-fill: rgb(216,216,216);
	
}


/* Match border */
/****************************************************/
.matchBorder{
	-fx-border-style: dashed;
	-fx-border-width: 2.0pt;
	-fx-border-radius: 10.0pt;
}

#matchBorder_General{
	-fx-border-color: #c9daf8;
}

#matchBorder_NoTeam{
	-fx-border-color: #666666;	
}

/* Status Header States */
/****************************************************/
.statusHeader{
	-fx-font-size: 8.0pt; 
}

#statusHeader_General{
	-fx-text-fill: #c9daf8;
}


#StatusHeader_NoTeam{
	-fx-text-fill: #666666;
}


/* Status Box States */
/****************************************************/
.matchStatus{
	-fx-font-size: 10.0pt;
	-fx-border-radius: 1.0pt; 
}

#matchStatus_General{
	-fx-text-fill: #c9daf8;
	-fx-border-color: #c9daf8;
	
}

#matchStatus_noTeam{
	-fx-background-color: #666666;
	-fx-border-color: #666666;
}








